<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emploi Espoir - Demande de nouveau mot de passe</title>
    </head>

    <body>

        <div>
            <p>
                Bonjour {{ userFirstName }},
            </p>

            <p>
                Il semble que vous ayez besoin d'un nouveau mot de passe. Cliquez sur le lien ci-dessous pour confirmer votre demande.
            </p>

            <p>
                <a href="{{ confirmation_url }}">Confirmer ma demande</a>
            </p>

            <p>
                Vous n'êtes pas à l'origine de cette demande ? Ignorez cet email.
            </p>
        </div>
    </body>
</html>