<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emploi Espoir - Demande de nouveau mot de passe</title>
    </head>

    <body>

        <div>
            <p>
                Bonjour {{ userFirstName }},
            </p>

            <p>
                Votre mot de passe Emploi Espoir a bien été modifié.
            </p>

            <div>
                <p>Vos identifiants de connexion sont désormais : </p>

                <ul>
                    <li>
                        Email : {{ userEmail }}
                    </li>

                    <li>
                        Mot de passe : {{ userNewPassword }}
                    </li>
                </ul>
            </div>


            <p>
                Vous Pouvez modifier ce mot de passe dans vos <a href="{{ userSettingsUrl }}">paramètres</a>.
            </p>
        </div>
    </body>
</html>