{% extends 'base.html.twig' %}

{% block title %}Confirmation du changement de mot de passe - Emploi Espoir{% endblock %}

{% block body %}

    {% include('navbar.html.twig') %}

    <h1>
        Bravo !<br>
        Vous êtes désormais connecté à votre compte
    </h1>

    <p>
        Assurez-vous que votre dossier Spam ne contient pas notre message et que l’adresse e-mail ci-dessous est correcte, puis renvoyez une demande si besoin.
    </p>

    <p>
        Vous avez la possibilité de modifier votre mot de passe dans <a href="{{ path('user_profile_settings_edit') }}">vos paramètres</a>.
    </p>

    <p>
        <a href="{{ path('user_dashboard') }}">Voir mon espace</a>
    </p>
{% endblock %}