{% extends 'base.html.twig' %}

{% block title %}Rensignez votre numéro de téléphone - Emploi Espoir{% endblock %}

{% block body %}
    <section>
        <h1>Renseignez votre numéro de téléphone</h1>
    </section>
{% endblock %}