{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur votre espace employeur - Emploi Espoir{% endblock %}

{% block body %}
    {# this block will be side during style #}
    <div>

    </div>

    <section>
        <h1>Bienvenue sur votre espace employeur</h1>
    </section>
{% endblock %}