<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emploi Espoir - Suppression de compte</title>
    </head>

    <body>

        <div>
            <p>
                Bonjour {{ userFirstName }},
            </p>

            <p>
                Nous vous confirmons que votre compte et votre organisation <strong>{{ organizationName }}</strong> ont bien été retiré de notre plateforme.
            </p>

            <p>Si vous avez des questions, n'hésitez pas à nous <a href="mailto:EmploiEspoir-Admin@admin.fr">contacter</a>.</p>

            <p>Cordialement,<br>L’équipe support</p>

        </div>
    </body>
</html>