{% extends 'base.html.twig' %}

{% block title %}Expériences professionnelles - Emploi Espoir{% endblock %}

{% block body %}
    <section>
        <h1>Expériences professionnelles</h1>

        <a href="#">Ajouter</a>
    </section>
{% endblock %}