{% extends 'base.html.twig' %}

{% block title %}Formations - Emploi Espoir{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
{% endblock %}

{% block body %}
    {# message if information about formation has been done #}
    {% if app.flashes('formation_information_saved') is defined %}
        {% for formationSavedMsg in app.flashes('formation_information_saved') %}
            <span id="hide-flashMsg">{{ formationSavedMsg }}</span>
        {% endfor %}
    {% endif %}

    <section>
        <h1>Formations</h1>

        <a href="{{ path('account_formation_add') }}">Ajouter</a>
    </section>
{% endblock %}