{% extends 'base.html.twig' %}

{#  todo: changer le title sie possble pour le référencement #}
{% block title %}Tableau de bord - Emploi Espoir{% endblock %}

{% block body %}

    <header>
        {% include('navbar.html.twig') %}
    </header>

    <h1>Tableau de bord</h1>

    <p>
        <a href="{{ path('user_logout') }}" style="color: red">Déconnexion</a>
    </p>

    <div>

        {# this line represents the user's choices #}
        <p>
            {% for userChoice in user.mainObjectives %}
                {{ userChoice }}
            {% endfor %}
        </p>

        {# this line represents organization with same objectives that the current user #}
        <div>
            {% for organization in organizationPreferences %}
                <p>{{ organization.organizationName }}</p>

                {% for preference in organization.organizationPreferences %}
                    <p>
                        <em>{{ preference }}</em>
                    </p>
                {% endfor %}
            {% else %}
                <p>Aucune organisation trouvée correspondant à vos préférences.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}