{% extends 'base.html.twig' %}

{% block title %}Liens externes - Emploi Espoir{% endblock %}

{% block body %}
    <section>
        <h1>Liens externes </h1>

        <p>
            <a href="#">Ajouter</a>
        </p>
    </section>
{% endblock %}