{% extends 'base.html.twig' %}

{% block title %}Liens externes - Emploi Espoir{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/hidingFlashMsg/hideFlashMsg.js') }}" defer></script>
{% endblock %}

{% block body %}
    {# message if a link has been added or modify #}
    {% if app.flashes('link_added_successfully') is defined %}
        {% for linkSavedMsg in app.flashes('link_added_successfully') %}
            <span id="hide-flashMsg">{{ linkSavedMsg }}</span>
        {% endfor %}
    {% endif %}

    <header>
        {% include 'navbar.html.twig' %}
    </header>


    <section>
        <h1>Liens externes </h1>

        <p>
            <a href="{{ path('account_external_links_link') }}">Ajouter</a>
        </p>
    </section>
{% endblock %}