{% extends 'base.html.twig' %}

{% block title %} {{ current_candidate.lastName }} {{ current_candidate.firstName }} - Emploi Espoir {% endblock %}

{% block body %}

    <header>
        {% include('navbar.html.twig') %}
    </header>

    <h1>Personnalisez votre premier contact avec {{ current_candidate.firstName }}</h1>

{% endblock %}