{% extends 'base.html.twig' %}

{% block title %}Candidats - Emploi Espoir{% endblock %}

{% block body %}
    <div>
        {#  this block will be side in the view #}
        
    </div>

    <section>

        <h1>Liste des candidats</h1>



        <div>
            {# this list contain users who are the same main objectives that the current organization #}
            {% for user in userWithSameObjectives %}
                <a href="#">
                    {{ user.email }}
                </a>

            {% else %}
                <span>Aucun candidats disponible pour le moment</span>
            {% endfor %}
        </div>

    </section>
{% endblock %}











{% block stylesheets %}
    <style>
        a {
            display: block;
            color: black;
            text-decoration: none;
        }
    </style>
{% endblock %}