<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Email d'embauche</title>
    </head>

    <body>

        <div>
            {{ organizationResponse }}
        </div>
    </body>
</html>