{% extends 'base.html.twig' %}

{% block title %}Mon offre premium - Emploi Espoir{% endblock %}

{% block body %}

    <header>
        {% include('navbar.html.twig') %}
    </header>

    <section>
        <h1>Formulaire de données pour la souscription</h1>
    </section>

    <section>
        <h1>Choix du paiement : carte bancaire, wave, ou OM</h1>
    </section>

    <section>
        <h1>Ecrire une politique de confidentialité si possible pour les données utilisateurs</h1>
    </section>
{% endblock %}