{% extends 'base.html.twig' %}

{% block title %}{{ user. firstName}} - Emploi Espoir{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock %}

{% block body %}

    <header>
        {% include('navbar.html.twig') %}
    </header>

    <div>
        <span>
            {% if user.profilPic is not null %}
                <img src="{{ asset('user/profile/avatar/' ~ user.profilPic) }}" alt="Emploi_Espoir_candidat_details" width="150">
            {% else %}
                <i class="bi bi-person-circle" style="font-size: 3em"></i>
            {% endif %}
        </span>
        <h1>{{ user.firstName }} {{ user.lastName }}</h1>
    </div>

{% endblock %}