<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emploi Espoir - Identifiant de connexions</title>
    </head>

    <body>

        <div>
            <p>
                Bonjour {{ userFirstName }},
            </p>

            <p>
                Vous avez demandé à changer d'adresse email sur Emploi Espoir. Pour confirmer ce changement, veuillez cliquer sur le lien ci-dessous :
            </p>

            <p>
                <a href="{{ confirmation_url }}">Confirmer mon nouvel email</a>
            </p>

            <p style="color: red">
                <em>Après le clic, vous serez automatiquement déconnecté</em>
            </p>

            <p>
                Si vous n'avez pas demandé de changement d'adresse email, ignorez simplement ce message.
            </p>

        </div>
    </body>
</html>