{% extends 'base.html.twig' %}

{% block title %}Paramètres - Emploi Espoir{% endblock %}

{% block body %}

    <header>
        {% include('navbar.html.twig') %}
    </header>

    <section>
        <h1>Paramètres</h1>
    </section>
{% endblock %}