<div>
    <h1>Profil</h1>

    <p>
        <a href="{{ path('user_profile') }}">Profil</a>
    </p>

    <p>
        <a href="{{ path('user_profile_settings_edit') }}">Paramètres</a>
    </p>
</div>