<nav>
    <div>
        <p>
            <a href="{{ path('home') }}">Emploi Espoir</a>
        </p>
    </div>

    <div>
        <p>
            {# mettre ici une icone soit le nom de la personne qui est connecté ou un autre truc #}
            <a href="#">Tableau de bord</a>
        </p>
    </div>
</nav>